<?xml version="1.0"?>
  <connectionStrings>
    <add name="WebrootUI2Connection"
         connectionString="Data Source=Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\WebrootUI2.mdf;Integrated Security=True"/>
         <!--connectionString="Data Source=DANANJAYA-PC\SQLEXPRESS2012;Initial Catalog=AspMembership;Integrated Security=True"/>-->
    </connectionStrings>
